<form ng-submit="submit()">
	<div class="card">
		<div class="card-block">
			<h4 class="card-title text-center">Create your own Burger</h4>
			<hr />
			<div class="row">
				<div class="col-4 col-sm-3 offset-4 offset-sm-0">
					<img class="img-fluid" src="http://clipartall.com/subimg/burger-clipart-burger-clipart-3983_3404.jpg" />
				</div>
				<div class="col-12 col-sm-8">
					<div class="row">
						<div class="col-12 col-sm-9">
							<b>Choose your Veggies</b>
								<table class="table table-bordered">
									<tr>
										<td>
											<div class="form-check">
												 <label class="form-check-label">
													<input type="checkbox" class="form-check-input" ng-model="form.vegetables['cheese']"> Cheese
												</label>
											</div>
										</td>
										<td>
											<div class="form-check">
												 <label class="form-check-label">
													<input type="checkbox" class="form-check-input" ng-model="form.vegetables['lettuce']"> Lettuce
												</label>
											</div>
										</td>
										<td>
											<div class="form-check">
												 <label class="form-check-label">
													<input type="checkbox" class="form-check-input" ng-model="form.vegetables['tomato']"> Tomato
												</label>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check">
												 <label class="form-check-label">
													<input type="checkbox" class="form-check-input" ng-model="form.sauces['ketchup']"> Ketchup
												</label>
											</div>
										</td>
										<td>
											<div class="form-check">
												 <label class="form-check-label">
													<input type="checkbox" class="form-check-input" ng-model="form.sauces['mustard']"> Mustard
												</label>
											</div>
										</td>
										<td>
											<div class="form-check">
												 <label class="form-check-label">
													<input type="checkbox" class="form-check-input" ng-model="form.sauces['oregano']"> Oregano
												</label>
											</div>
										</td>
									</tr>
								</table>						
							</div>
						<div class="col-12 col-sm-3">
							<b>Select your Protein</b>
							<select class="form-control" id="protein" ng-model="form.protein">
								<option></option>
								<option>Beef</option>
								<option>Bacon</option>
								<option>Chicken</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<b>Make it a Meal</b>
							<table class="table table-bordered">
								<th>
									Pop
								</th>
								<th>
									Side
								</th>
								<tr>
									<td>
										<select class="form-control" id="pop" ng-model="form.pop">
											<option></option>
											<option>Coke</option>
											<option>Iced Tea</option>
											<option>Root Beer</option>
										</select>
									</td>
									<td>
										<select class="form-control" id="side" ng-model="form.side">
											<option></option>
											<option>Fries</option>
											<option>Mashed Potato</option>
											<option>Brownies</option>
										</select>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			<hr />
			
			<div class="row">
				<div class="col-12 col-sm-6 offset-sm-3">
					<div class="btn-group btn-block">
						<input type="submit" class="btn btn-success btn-block" value="Add To Cart"/>
						<input type="reset" class="btn btn-primary btn-block" />
					</div>	
				</div>
			</div>
		</div>
	</div>
</form>