<div class="row">
	<div class="col-6 col-sm-4" ng-repeat="orderItem in orderItems">
		<div class="card">
			<div class="card-img">
				<img class="img-fluid" src="http://clipartall.com/subimg/burger-clipart-burger-clipart-3983_3404.jpg" />
			</div>
			<div class="card-block">
				<h4 class="card-title text-center">Personal Burger</h4>
				<div class="row">
					<div class="col-12 col-sm-6">
						<table class="table table-bordered">
							<th>
								Vegetables
							</th>
							
							<tr>
								<td ng-if="orderItem.vegetables.cheese")>
									Cheese
								</td>
							</tr>
							<tr>
								<td ng-if="orderItem.vegetables.lettuce")>
									Lettuce
								</td>
							</tr>
							<tr>
								<td ng-if="orderItem.vegetables.tomato")>
									Tomato
								</td>
							</tr>
						</table>
					</div>
					<div class="col-12 col-sm-6">
						<table class="table table-bordered">
							<th>
								Sauce
							</th>
							<tr>
								<td  ng-if="orderItem.sauces.ketchup")>
									Ketchup
								</td>
							</tr>
							<tr>
								<td ng-if="orderItem.sauces.mustard")>
									Mustard
								</td>
							</tr>
							<tr>
								<td ng-if="orderItem.sauces.oregano")>
									Oregano
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-block">
				<h4 class="text-center">Cart</h4>
				<hr />
				<div class="row">
				<div class="col-12 col-sm-4 offset-sm-4">
						<p ng-if="orderItems.length == 0">
							Nothing on cart yet! Check out our directory of burgers and place an order.
						</p>
						<input type="button" class="btn btn-primary btn-block" value="Place Order" ng-click="placeOrder()" ng-disabled="{{orderItems.length === 0}}" />
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="row" ng-if="orderedItems.length > 0">
	<div class="col-12">
		<div class="card">
			<div class="card-block">
				<h4 class="text-center">Order History</h4>
				<hr />
				<div class="row" ng-repeat="orderedItem in orderedItems">
					<div class="col-12 col-sm-6 offset-sm-3">
						<div class="row">
							<div class="col-4 offset-4">
								<img class="img-fluid" src="http://clipartall.com/subimg/burger-clipart-burger-clipart-3983_3404.jpg" />
							</div>
						</div>
						<table class="table table-bordered">
							<th>
								Vegetables
							</th>
							<th>
								Sauce
							</th>
							
							<tr>
								<td ng-if="orderedItem.item.vegetables.cheese")>
									Cheese
								</td>
								<td  ng-if="orderedItem.item.sauces.ketchup")>
									Ketchup
								</td>
							</tr>
							<tr>
								<td ng-if="orderedItem.item.vegetables.lettuce")>
									Lettuce
								</td>
								<td ng-if="orderedItem.item.sauces.mustard")>
									Mustard
								</td>
							</tr>
							<tr>
								<td ng-if="orderedItem.item.vegetables.tomato")>
									Tomato
								</td>
								<td ng-if="orderedItem.item.sauces.oregano")>
									Oregano
								</td>
							</tr>
							<tr>
								<td colspan=2>Ordered in {{ orderedItem.timestamp }}</td>
							</tr>
						</table>
						
						<hr />
					</div>
				</div>
				
			</div>
		</div>	
	</div>
</div>
